#include <nordic/nrf52840_qiaa.dtsi>

/ {
    chosen {
        zephyr,console = &uart0;
        zephyr,shell-uart = &uart0;
    };

    aliases {
        /* Sounders */
        buzzer0 = &SN1;
        buzzer1 = &SN2;
        buzzer2 = &SN3;

        /* SPI devices */
        spi0 = &spi0;
        accel0 = &adxl367;
        press0 = &bmp585;
    };

    sounders {
        compatible = "gpio-leds";

        SN1: SN1 {
            gpios = <&gpio0 4 GPIO_ACTIVE_HIGH>;
            label = "SN1";
        };

        SN2: SN2 {
            gpios = <&gpio0 5 GPIO_ACTIVE_HIGH>;
            label = "SN2";
        };

        SN3: SN3 {
            gpios = <&gpio0 6 0>;
            label = "SN3";
        };
    };
};

/* GPIO */
&gpio0 {
    status = "okay";
};

&gpiote {
    status = "okay";
};

/* SPI0 + devices */
&spi0 {
    status = "okay";
    pinctrl-0 = <&spi0_default>;
    pinctrl-1 = <&spi0_sleep>;
    pinctrl-names = "default", "sleep";
    cs-gpios = <&gpio0 20 GPIO_ACTIVE_LOW>, <&gpio0 21 GPIO_ACTIVE_LOW>;

    adxl367: adxl367@0 {
        compatible = "adi,adxl367";
        reg = <0>;
        spi-max-frequency = <1000000>;
        int1-gpios = <&gpio0 8 GPIO_ACTIVE_LOW>;
        label = "ADXL367";
    };

    bmp585: bmp585@1 {
        compatible = "bosch,bmp585";
        reg = <1>;
        spi-max-frequency = <1000000>;
        int-gpios = <&gpio0 7 GPIO_ACTIVE_LOW>;
        label = "BMP585";
    };
};

&spi0_default {
    group1 {
        psels = <NRF_PSEL(SPIM_SCK, 0, 17)>,
                <NRF_PSEL(SPIM_MOSI, 0, 18)>,
                <NRF_PSEL(SPIM_MISO, 0, 19)>;
    };
};
