# Copyright (c) 2020 Facebook, Inc. and its affiliates
# SPDX-License-Identifier: Apache-2.0

menuconfig BMP585
	bool "Bosch BMP585 pressure sensor"
	default y
	depends on DT_HAS_BOSCH_BMP585_ENABLED
	select I2C if $(dt_compat_on_bus,$(DT_COMPAT_BOSCH_BMP585),i2c)
	select SPI if $(dt_compat_on_bus,$(DT_COMPAT_BOSCH_BMP585),spi)
	help
	  Enable driver for the Bosch BMP585 pressure sensor

if BMP585

config BMP585_TRIGGER
	bool "Use IRQ handler"
endif # BMP585
