# CPU and safety
CONFIG_ARM_MPU=y
CONFIG_HW_STACK_PROTECTION=y

# Clock and timing
CONFIG_CLOCK_CONTROL=y
CONFIG_CLOCK_CONTROL_NRF_K32SRC_XTAL=y

# Peripheral Support
CONFIG_GPIO=y
CONFIG_SPI=y
CONFIG_SERIAL=y

# Console defaults
CONFIG_CONSOLE=y
CONFIG_UART_CONSOLE=y

# Basic kernel features
CONFIG_MAIN_STACK_SIZE=2048
CONFIG_IDLE_STACK_SIZE=256